.images-list {
    overflow: auto;
    max-height: 100%;
    &__list {
        display: flex;
        flex-wrap: wrap;
        overflow:  auto;
        padding: 0 8px;
        margin-left: -8px;
        margin-right: -8px;
    }
    &__image {
        min-width: 50%;
        width: 50%;
        height: 200px;
        padding: 5px;
        img {
            height: 100%;
            object-fit: cover;
            max-width: 100%;
        }
    }
    &__nav{
    }
    &__error{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 485px;
    }
    &__loader{
        color: #2680EB;
        text-align: center;
        font-weight: 500;
        height: 485px;
    }
    &__error-desc{
        margin-top: 8px;
    }
    &__error-actions{
        margin-top: 8px;
        button{
            cursor: pointer;
        }
    }
}

.stock-promo{
    font-size: 12px;
    line-height: 21px;
    padding: 8px;
    margin-right: -8px;
    color: #58585D;
    text-align: right;
    margin-left: auto;
    &:hover, &:focus, &:active{
        color: #58585D;
    }
    &__name{
        color: #fff;
    }
    &__label{
        height: 21px;
        font-size: 12px;
        line-height: 21px;
        margin-left: 4px;
        border-radius: 3px;
    }
}
